.about
  &-block
    display: flex
    margin-bottom: 60px
    &__content
      background-color: #f7f7f7
      margin: auto
      margin: 60px 30px 0px
      max-width: 375px
      height: 425px
    &__text
      width: 320px
      display: block
      line-height: 1.4
      margin: 27px 85px 60px 26px
      +reg
    &__img
